
.aboutImage{

    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVfQQILECEL6Z-_yKRwDzy8YWloeAM8V1p6Q&usqp=CAU"); 
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px  50px 10px 50px;
  


}